[submodule "Secuity/Kernel-Keypair-Talk"]
	path = Secuity/Kernel-Keypair-Talk
	url = https://github.com/DRK-512/Kernel-Keypair-Talk.git
[submodule "Secuity/Linux-Keylogger"]
	path = Secuity/Linux-Keylogger
	url = https://github.com/DRK-512/Linux-Keylogger.git
[submodule "Secuity/Unique-ID-Gen"]
	path = Secuity/Unique-ID-Gen
	url = https://github.com/DRK-512/Unique-ID-Generator.git
[submodule "Networking/Webserver"]
	path = Networking/Webserver
	url = https://github.com/DRK-512/Rust_Webserver.git
[submodule "Networking/Webscaper"]
	path = Networking/Webscaper
	url = https://github.com/DRK-512/Webscaper.git
[submodule "Networking/Port-Scanner"]
	path = Networking/Port-Scanner
	url = https://github.com/DRK-512/Port-Scanner.git
[submodule "Misc/Rotating-Cube"]
	path = Misc/Rotating-Cube
	url = https://github.com/DRK-512/Rotating-Cube.git
[submodule "Process-Synchronization/Game-Parlor"]
	path = Process-Synchronization/Game-Parlor
	url = https://github.com/DRK-512/Game-Parlor.git
[submodule "Process-Synchronization/Dining-Philosophers"]
	path = Process-Synchronization/Dining-Philosophers
	url = https://github.com/DRK-512/Dining-Philosophers.git
