[submodule "secuity/Kernel-Keypair-Talk"]
	path = secuity/Kernel-Keypair-Talk
	url = https://github.com/DRK-512/Kernel-Keypair-Talk.git
[submodule "secuity/Linux-Keylogger"]
	path = secuity/Linux-Keylogger
	url = https://github.com/DRK-512/Linux-Keylogger.git
[submodule "secuity/Unique-ID-Gen"]
	path = secuity/Unique-ID-Gen
	url = https://github.com/DRK-512/Unique-ID-Generator.git
[submodule "networking/Webserver"]
	path = networking/Webserver
	url = https://github.com/DRK-512/Rust_Webserver.git
[submodule "networking/Webscaper"]
	path = networking/Webscaper
	url = https://github.com/DRK-512/Webscaper.git
[submodule "networking/Port-Scanner"]
	path = networking/Port-Scanner
	url = https://github.com/DRK-512/Port-Scanner.git
[submodule "misc/Rotating-Cube"]
	path = misc/Rotating-Cube
	url = https://github.com/DRK-512/Rotating-Cube.git
[submodule "process_synchronization/Game-Parlor"]
	path = process_synchronization/Game-Parlor
	url = https://github.com/DRK-512/Game-Parlor.git
[submodule "process_synchronization/Dining-Philosophers"]
	path = process_synchronization/Dining-Philosophers
	url = https://github.com/DRK-512/Dining-Philosophers.git
