
Linux-Commands/ps/5ps
Linux-Commands/cp/modcp

Process-Synchronization/Bankers-Algorithm/Bankers
Process-Synchronization/Game-Parlor/Game_Parlor
Process-Synchronization/Dining-Philosophers/Dining_Philosophers
Process-Synchronization/Producer-Consumer/Producer_Consumer
Process-Synchronization/Reader-Writer/Reader_Writer
Process-Synchronization/Sleeping-Barbers/Barber_Shop
Process-Synchronization/Elevator-Threading/Elevator

Memory-Management/Virtual-Memory-Manager/Memory_Manager

Scheduling/Shortest-Runtime-Scheduler/Shortest_Scheduler
Scheduling/Round-Robin/bin/
Scheduling/Round-Robin/RR_Scheduler

**/.vscode/

